## 1. 두 개의 변수 a와 b에 각가 5와 3을 할당하고, 그 합을 출력하는 코드를 작성하세요

In [33]:
a = 5
b = 3
print(a+b)

8

## 2. 사용자로부터 이름을 입력 받아 환영 메시지를 출력하는 프로그램을 작성하세요

In [34]:
p = input()
print(f'{p}님 환영합니다.')

윤지
윤지님 환영합니다.

## 3. 1부터 10까지의 숫자를 중에서 짝수만 출력하는 코드를 작성하세요

In [40]:
a = 10
for i in range(1,a+1):
    if i%2 == 0:
        print(i)

2
4
6
8
10

## 4. 주어진 리스트[1,2,3,4,5]를 출력하는 코드를 작성하세요

In [5]:
c = [1,2,3,4,5]
print(c)

[1, 2, 3, 4, 5]

## 문자열 "Hello World!"를 역순으로 출력하는 코드를 작성하세요

In [36]:
s = 'Hello World'
print(s[::-1])

dlroW olleH

## 6. 사용자로부터 두  개의 숫자를 입력받아 두 숫자를 곱한 결솨를 출력하는 프로그램을 작성하세요

In [11]:
a,b = map(int, input().split())
print(a * b)

3 4
12

## 7. 다음 리스트 [1,2,3,4,5]에서 3의 인덱스를 출력하는 코드를 작성하세요

In [15]:
c = [1,2,3,4,5]
print(c[2])

3

## 8. 주어진 리스트 [1,2,3,4,5]에서 모든 요소를 더한 값을 출력하는 코드를 작성하세요

In [ ]:
c = [1,2,3,4,5]

## 9. 주어진 문잘열 'pyrhon'을 세번 반복하여 출력하는 코드를 작성하세요

In [42]:
y = 'pyrhon'
for i in range(3):
    print(y)

pyrhon
pyrhon
pyrhon

In [49]:
for i in range(1,11):
    if i % 2 == 0:
        print(i, end = ' ')

2 4 6 8 10

In [52]:
sum = 0
for i in range(1,11):
    if i % 2 == 1:
        sum +=i
print(f'홀수의 합은 {sum} 입니다')

홀수의 합은 25 입니다

In [53]:
sum = 0
for i in range(1,11):
    if i % 2 == 0:
        sum +=i
print(f'짝수의 합은 {sum} 입니다')

짝수의 합은 30 입니다

In [56]:
odd_sum = 0
even_sum = 0

for i in range(1,11):
    if i % 2 ==  1:
        odd_sum += i
    else:
        even_sum += i
print(f'홀수의 합은 {odd_sum} 입니다')
print(f'짝수의 합은 {even_sum} 입니다')

홀수의 합은 25 입니다
짝수의 합은 30 입니다

In [ ]:
for i in range(1,11):
    if i % 3 == 0:
        sum1 += 1

In [67]:
my_list = [1,2,3,4,5]
my_list

[1, 2, 3, 4, 5]

In [68]:
for i in my_list:
    print(i,end = " : ")

1 : 2 : 3 : 4 : 5 :

In [69]:
reversed_list = my_list[::-1]
reversed_list

[5, 4, 3, 2, 1]

In [71]:
a = 'hello world'
b = "hello world"
c = """hello world"""
print(a)
print(b)
print(c)

hello world
hello world
hello world